<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thomas.jansen.plantbase">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/baseline_local_florist_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/baseline_local_florist_24"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SearchActivity"
            android:theme="@style/AppThemeNoTopBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchList" />
        <activity android:name=".PlantInfoActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MyPlantsList" />
        <activity android:name=".LinkingActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".MyPLantActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".AddPlantActivity"></activity>
    </application>

</manifest>