<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thomas.jansen.plantbase">
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/baseline_local_florist_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/baseline_local_florist_24"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTopBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchList"
            android:screenOrientation="portrait"/>
        <activity android:name=".PlantInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyPlantsList"
            android:screenOrientation="portrait"/>
        <activity android:name=".LinkingActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".MyPLantActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".AddPlantActivity"></activity>

        <service
            android:name="thomas.jansen.plantbase.BackgroundTask"
            android:enabled="true" >
        </service>

        <receiver
            android:name="thomas.jansen.plantbase.SensorRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="thomas.jasnen.ActivityRecognition.RestartSensor"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>